// ===================================================================
// RESET & BASIC STYLES
// ===================================================================

@use '../abstracts' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background: $color-background-dark;
}

body, input, select, textarea {
    color: $color-text;
    font-family: $font-family;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
}

a {
    color: $color-primary;
    text-decoration: underline;
    
    &:hover {
        text-decoration: none;
    }
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

sub, sup {
    font-size: 0.8em;
    position: relative;
}

sub {
    top: 0.5em;
}

sup {
    top: -0.5em;
}

hr {
    border-top: solid 1px $color-border;
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em $color-border;
    font-style: italic;
    padding: 1em 0 1em 2em;
}

section.special, article.special {
    text-align: center;
}
