# Site settings
name: Quantum Chemistry Development Group
description: Website for the Quantum Chemistry Development Group at DIPC
author:
  name: Quantum Chemistry Development Group
  email: quantchemdev@gmail.com
  url: "https://quantchemdev.github.io"
  baseurl: "/"

# Social media and repository links
github: https://github.com/quantchemdev
twitter: https://twitter.com/DonostiaChemDev

# Build settings
markdown: kramdown
sass:
  sass_dir: assets/css
  style: compressed

# Collections
collections:
  members:
    output: true
    permalink: /members/:path/

# Pagination
plugins:
  - jekyll-sitemap


# Default front matter
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "members"
    values:
      layout: "member"
  - scope:
      path: ""
    values:
      layout: "default"
