---
title: Gallery
layout: main
---

<head>
</head>

<body>
  <main id="main" class="wrapper style1">
    <div class="container">
      <div class="row">
        <div id="content" class="8u skel-cell-important">
          <section>
            <header class="major">
              <h1>Gallery</h1>
            </header>
            <div class="gallery">
              {% for item in site.data.gallery.items %}
              <img src="./assets/gallery/{{ item.filename }}" 
                   loading="lazy"
                   alt="{{ item.description }}"
                   title="{{ item.description }}{% if item.month %}, {{ item.month }}{% endif %}{% if item.year %} {{ item.year }}{% endif %}{% if item.place %} ({{ item.place }}){% endif %}">
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</body>
