<!-- Nav -->
<nav id="nav">
    <ul>
        {% assign current = page.url | downcase | split: '/' %}

        <!-- Home Link -->
        <li {% if current[1] == 'index.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/index.html">Home</a>
        </li>

        <!-- Members Dropdown -->
        <!-- In your navigation file, simplify the members navigation -->
        <li {% if current[1]=='members.html' %}class="current" {% endif %}>
            <a href="{{ site.baseurl }}/members.html">Members</a>
        </li>

        <!-- Research Link -->
        <li {% if current[1] == 'research.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/research.html">Research</a>
        </li>

        <!-- Fundings Link -->
        <li {% if current[1] == 'fundings.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/fundings.html">Fundings</a>
        </li>

        <!-- Publications Link -->
        <li {% if current[1] == 'publications' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/publications.html">Publications</a>
        </li>

        <!-- Resources Link -->
        <li {% if current[1] == 'resources.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/resources.html">Resources</a>
        </li>

        <!-- Openings Link -->
        <li {% if current[1] == 'openings' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/openings.html">Openings</a>
        </li>

        <!-- Gallery Link -->
        <li {% if current[1] == 'gallery' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/gallery.html">Gallery</a>
        </li>
    </ul>
</nav>
