<nav id="nav">
    <ul>
        {% assign current = page.url | downcase | split: '/' %}
        
        <li {% if current[1] == 'index.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/index.html">Home</a>
        </li>
        
        <li {% if current[1] contains 'members' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/members.html">Members</a>
        </li>
        
        <li {% if current[1] == 'research.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/research.html">Research</a>
        </li>
        
        <li {% if current[1] == 'fundings.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/fundings.html">Fundings</a>
        </li>
        
        <li {% if current[1] == 'publications' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/publications.html">Publications</a>
        </li>
        
        <li {% if current[1] == 'resources.html' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/resources.html">Resources</a>
        </li>
        
        <li {% if current[1] == 'openings' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/openings.html">Openings</a>
        </li>

        <li {% if current[1] == 'news' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/news.html">News</a>
        </li>
        
        <li {% if current[1] == 'gallery' %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/gallery.html">Gallery</a>
        </li>
    </ul>
</nav>
