/*
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/


/* Basic Box Model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Body and Container Setup */
body {
    min-width: 320px; /* Adjusted for mobile compatibility */
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
}

.container.small {
    max-width: 900px;
}

.container.big {
    max-width: 1500px;
}

/* Modern Grid System using CSS Grid */
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columns flexible grid */
    gap: 20px;
}

.col-12 { grid-column: span 12; }
.col-11 { grid-column: span 11; }
.col-10 { grid-column: span 10; }
.col-9  { grid-column: span 9;  }
.col-8  { grid-column: span 8;  }
.col-7  { grid-column: span 7;  }
.col-6  { grid-column: span 6;  }
.col-5  { grid-column: span 5;  }
.col-4  { grid-column: span 4;  }
.col-3  { grid-column: span 3;  }
.col-2  { grid-column: span 2;  }
.col-1  { grid-column: span 1; }

/* Modern Row Handling using Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px; /* Adjust depending on column gap */
}

.row > * {
    padding-left: 20px; /* Adjust depending on column gap */
}

.row.flush > * {
    padding-left: 0;
}


	body {
		background: #222833;
	}

	body, input, select, textarea {
		color: #555555;
		font-family: 'Raleway', sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.75em;
	}

	a {
		color: #3ac984;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 700;
		line-height: 1.75em;
		margin-bottom: 1em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px #888888;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em #888888;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 4em;
	}

	header h2 {
		margin: 0;
		padding: 0;
		font-size: 3em;
		font-weight: 600;
	}

	header .byline {
		font-size: 1.6em;
	}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: none;
		border: solid 1px #888888;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border-color: #3ac984;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {
		color: rgba(85, 85, 85, 0.5) !important;
	}

/* Image */

	.image {
		border: 0;
		position: relative;
	}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.feature {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.feature img {
				display: block;
				width: 100%;
			}

/* Icon */

	.icon {
		position: relative;
	}

		.icon:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Lists */

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

	ul {
		margin: 0;
		padding: 0;
	}

		ul.default {
			list-style: none;
		}

			ul.default li {
				display: block;
				padding: 0.60em 0;
				border-top: 1px solid;
				border-color: rgba(192, 192, 192, 0.15);
			}

			ul.default > :first-child {
				padding-top: 0;
				border-top: none;
			}

		ul.icons {
			cursor: default;
		}

			ul.icons li {
				display: inline-block;
				line-height: 1em;
				padding-left: 0.5em;
			}

				ul.icons li:first-child {
					padding-left: 0;
				}

		ul.actions {
			cursor: default;
		}

			ul.actions:last-child {
				margin-bottom: 0;
			}

			ul.actions li {
				display: inline-block;
				padding: 0 0 0 1.5em;
			}

				ul.actions li:first-child {
					padding: 0;
				}

			ul.actions.vertical li {
				display: block;
				padding: 1.5em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding: 0;
				}

		ul.contact li {
			padding: 1.05em 0;
			border-top: 1px solid;
			border-color: rgba(192, 192, 192, 0.15);
		}

			ul.contact li > span {
				display: inline-block;
			}

			ul.contact li .address, ul.contact li .mail, ul.contact li .phone {
				float: left;
				width: 100px;
				font-weight: 600;
			}

		ul.contact > :first-child {
			padding-top: 0;
			border-top: none;
		}

		ul.style li {
			clear: both;
			display: block;
			padding-top: 3em;
		}

		ul.style > :first-child {
			padding-top: 0;
		}

		ul.style h3 {
			display: block;
			margin: 0;
			padding-bottom: 0.50em;
			font-size: 1.1em;
			font-weight: 700;
			color: #404040;
		}

		ul.style .fa {
			float: left;
			display: inline-block;
			width: 80px;
			height: 80px;
			margin-right: 1em;
			background: #3ac984;
			line-height: 80px;
			text-align: center;
			border-radius: 10px;
			font-size: 2em;
			color: white;
		}

		ul.list {
			list-style: none;
		}

			ul.list li {
				display: block;
				padding: 0.60em 0;
				border-top: 1px solid;
				border-color: red;
			}

			ul.list > :first-child {
				padding-top: 0;
				border-top: none;
			}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #888888;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background: #555555;
				color: #fff;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		background: #3ac984;
		border-radius: 40px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.80em 2em;
		text-align: center;
		text-decoration: none;
		font-size: 1.4em;
		font-weight: 600;
		min-width: 10em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #32b777;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

/* Wrapper */

	.wrapper.style1 {
		background: #fff no-repeat;
	}

	.wrapper.style2 {
		background: #ececec no-repeat;
		padding: 6em 0;
		text-align: center;
	}

	.wrapper.style3 {
		padding: 2em 0 3.5em 0;
		background: #ececec no-repeat;
	}

		.wrapper.style3 span {
			display: inline-block;
			padding-top: 0.80em;
			font-size: 2em;
			font-weight: 600;
		}

		.wrapper.style3 .button {
			float: right;
		}

/* Header */

	#header {
		background: #333333 url("../images/Donosti.webp") no-repeat;
		background-size: cover;
		color: #fff;
		padding: 6em 0;
		text-align: center;
		background-position: 0% 65%;
		position: relative;
	}

		#header:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(16, 32, 48, 0.25);
		}

		#header > * {
			position: relative;
			z-index: 1;
		}

	.homepage #header {
		padding: 8em 0;
		background-position: center;
	}

	#logo {
		font-size: 2em;
	}

	#nav > ul {
		margin: 0;
	}

		#nav > ul > li {
			border-radius: 10px 10px 0 0;
			display: inline-block;
			margin-left: 0.5em;
			padding: 0.5em 1.5em;
		}

			#nav > ul > li a {
				color: #FFF;
				text-decoration: none;
				font-size: 1.2em;
			}

			#nav > ul > li:first-child {
				margin-left: 0;
			}

			#nav > ul > li:hover a {
				color: #fff;
			}

			#nav > ul > li.active {
				background: #3ac984;
			}

				#nav > ul > li.active a {
					color: white;
				}

			#nav > ul > li > ul {
				display: none;
			}

/* Dropotron */

	.dropotron {
		margin-top: -2px;
		background: #3ac984 no-repeat;
		border-radius: 10px;
		color: white;
		min-width: 12em;
		padding: 1em 0;
	}

		.dropotron > li {
			line-height: 2em;
			padding: 0 1em;
		}

			.dropotron > li > a {
				color: #FFF;
				text-decoration: none;
			}

			.dropotron > li.active > a, .dropotron > li:hover > a {
				color: #FFF;
			}

		.dropotron.level-0 {
			border-radius: 0 10px 10px 10px;
			font-size: 1em;
		}

/* Banner */

	#banner {
		text-align: center;
		padding: 4em 0 0 0;
	}

		#banner .major h2 {
			font-size: 3.5em;
		}

		#banner .major .byline {
			display: block;
			margin: 0em 2em;
			line-height: 1.6em;
			font-size: 1.5em;
		}

		#banner a {
			color: inherit;
		}

/* Main */

	.no-sidebar #main .major, .left-sidebar #main .major, .right-sidebar #main .major {
		text-align: left;
		background: no-repeat;
	}

	.homepage #main .major {
		text-align: center;
		background: no-repeat;
	}

	#main {
		padding: 6em 0;
	}

		#main .sidebar .major {
			padding-bottom: 2em;
			background: no-repeat;
		}

			#main .sidebar .major h2 {
				font-size: 1.5em;
				background: no-repeat;
			}

		#main .sidebar .default li {
			border-color: #cdcdcd;
			background: no-repeat;
		}

		#main .sidebar .default a {
			color: #464646;
			background: no-repeat;
		}

		#main .sidebar > :first-child {
			margin-bottom: 1em;
		}

/* Footer */

	#footer {
		padding: 4em 0;
		color: #fff;
	}

		#footer .major h2 {
			font-size: 2em;
			color: #FFF;
		}

		#footer .major .byline {
			font-size: 1.1em;
		}

		#footer .copyright {
			margin-top: 3em;
			padding-top: 3em;
			border-top: 1px solid;
			border-color: rgba(192, 192, 192, 0.15);
			text-align: center;
			color: inherit;
		}

		#footer a {
			color: inherit;
		}

.resize {
    width:300px;
    height:300px;
}

.resize:hover {
    height:900px;
    width:900px;
}

.tab {
 margin-left: 2.5em
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }


    /* Gallery */

 .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

/* styles.css */

/* Otros estilos generales */



.members-page img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.members-page ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 15px;
  justify-content: center;
}

/* Define the grid layout for different categories */
.members-page .group-leader {
  grid-template-columns: repeat(1, 1fr);
}

.members-page .scientific-staff {
  grid-template-columns: repeat(1, 1fr);
}

.members-page .postdoc,
.members-page .phd-student {
  grid-template-columns: repeat(2, 1fr);
}

.members-page .master-student {
  grid-template-columns: repeat(3, 1fr);
}

.members-page .alumni,
.members-page .visitor {
  grid-template-columns: repeat(5, 1fr);
}

.members-page ul li {
  margin: 15px 0;
  text-align: center;
  box-sizing: border-box;
}

.members-page ul li a {
  text-decoration: none;
  color: #3498db;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 100%;
}

.members-page ul li a:hover {
  color: #2980b9;
  transform: scale(1.05);
}

.members-page ul li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



.member-profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



.member-profile h2 {
  margin-top: 30px;
}

.member-profile ul {
  list-style-type: disc;
  margin: 10px 0 0 20px;
  padding: 0;
  text-align: left;
}

.member-profile ul li {
  margin-bottom: 5px;
}

/* Enhanced News PAGE Styles */
.news-list {
	max-width: 1000px;
	margin: 0 auto;
}

.news-line {
	margin: 3rem 0;
}

.news-line:first-child {
	margin-top: 1rem;
}

.news-line-link {
	display: flex;
	align-items: center;
	gap: 3rem;
	text-decoration: none;
	color: inherit;
	transition: all 0.4s ease;
	padding: 2rem;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.news-line-link:hover {
	transform: translateY(-8px);
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

/* Alternating layout */
.news-left .news-line-link {
	flex-direction: row;
}

.news-right .news-line-link {
	flex-direction: row-reverse;
}

.news-image-big {
	min-width: 300px;
	width: 300px;
	height: 200px;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.news-image-big img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.4s ease;
}

.news-line-link:hover .news-image-big img {
	transform: scale(1.08);
}

.news-date-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to top, rgba(0, 122, 204, 0.9), transparent);
	color: white;
	padding: 0.8rem 1rem 0.8rem 1rem;
	font-size: 0.9rem;
	font-weight: 600;
	text-align: center;
}

.news-content-enhanced {
	flex: 1;
	padding: 0.5rem 0;
}

.news-title-enhanced {
	margin: 0 0 1.2rem 0;
	font-size: 1.6rem;
	line-height: 1.3;
	color: #2c3e50;
	font-weight: 700;
	letter-spacing: -0.02em;
}

.news-excerpt-enhanced {
	margin: 0 0 1.5rem 0;
	color: #5a6c7d;
	line-height: 1.7;
	font-size: 1.05rem;
	font-weight: 400;
}

.read-more-arrow {
	color: #007acc;
	font-weight: 600;
	font-size: 0.95rem;
	letter-spacing: 0.02em;
	transition: all 0.3s ease;
}

.news-line-link:hover .read-more-arrow {
	color: #005999;
	transform: translateX(5px);
}

/* Mobile responsive for enhanced news page */
@media (max-width: 968px) {
	.news-line-link {
		gap: 2rem;
		padding: 1.5rem;
	}

	.news-image-big {
		min-width: 250px;
		width: 250px;
		height: 170px;
	}
}

@media (max-width: 768px) {

	.news-left .news-line-link,
	.news-right .news-line-link {
		flex-direction: column;
		text-align: center;
		gap: 1.5rem;
	}

	.news-image-big {
		min-width: auto;
		width: 100%;
		height: 200px;
	}

	.news-title-enhanced {
		font-size: 1.4rem;
	}
}

/* Loading shimmer effect (optional) */
.news-image-big img[loading="lazy"] {
	background: #f0f0f0;
	background-image: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
	background-size: 200% 100%;
	animation: loading-shimmer 1.5s infinite;
}

@keyframes loading-shimmer {
	0% {
		background-position: -200% 0;
	}

	100% {

		background-position: 200% 0;
	}
}

/* Fallback for posts without images (optional) */
.news-no-image {
	background: linear-gradient(135deg, #8cc051, #7ab842);
	display: flex;
	align-items: center;
	justify-content: center;
}

.news-placeholder {
	text-align: center;
	color: white;
	font-size: 1.2em;
}

.news-placeholder i {
	display: block;
	font-size: 3em;
	margin-bottom: 0.5em;
	opacity: 0.8;
}

/* Accessibility focus improvement (optional) */
.news-line-link:focus {
	outline: 3px solid #007acc;
	outline-offset: 2px;
}

/* Phone number accessibility styling */
.phone-link {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted currentColor;
	transition: all 0.2s ease;
}

.phone-link:hover,
.phone-link:focus {
	color: #3ac984;
	border-bottom-style: solid;
}

@media (max-width: 768px) {
	.phone-link {
		background: rgba(58, 201, 132, 0.1);
		padding: 0.2em 0.4em;
		border-radius: 3px;
		border-bottom: none;
		display: inline-block;
	}
}