    body {
        background: #222833;
    }

    body, input, select, textarea {
        color: #555555;
        font-family: 'Raleway', sans-serif;
        font-size: 13pt;
        font-weight: 300;
        line-height: 1.75em;
    }

    a {
        color: #3ac984;
        text-decoration: underline;
    }

        a:hover {
            text-decoration: none;
        }

    strong, b {
        font-weight: 700;
    }

    em, i {
        font-style: italic;
    }

    p, ul, ol, dl, table, blockquote {
        margin: 0 0 2em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #ff00ff;
        font-weight: 700;
        line-height: 1.75em;
        margin-bottom: 1em;
    }
