// ===================================================================
// TABLES & PAGINATION
// ===================================================================

@use '../abstracts' as *;

table {
    width: 100%;
    
    &.default {
        width: 100%;
        
        tbody tr {
            border-bottom: solid 1px $color-border;
        }
        
        td, th {
            padding: 0.5em 1em;
        }
        
        th {
            font-weight: 700;
            text-align: left;
        }
        
        thead {
            background: #555555;
            color: #fff;
        }
    }
}

.pagination {
    text-align: center;
    
    a, span {
        padding: 7px 18px;
        border: 1px solid #eee;
        margin-left: -2px;
        margin-right: -2px;
        background-color: #ffffff;
        display: inline-block;
    }
    
    a {
        &:hover {
            background-color: #f1f1f1;
            color: #333;
        }
    }
}
