// ===================================================================
// UTILITY CLASSES
// ===================================================================

@use '../abstracts' as *;

.resize {
    width: 300px;
    height: 300px;
    
    &:hover {
        height: 900px;
        width: 900px;
    }
}

.tab {
    margin-left: 2.5em;
}

.text-center {
    text-align: center;
    margin-top: 1rem;
}
