// ===================================================================
// CONTAINERS & GRID SYSTEM
// ===================================================================

@use '../abstracts' as *;

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    
    &.small {
        max-width: 900px;
    }
    
    &.big {
        max-width: 1500px;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    
    // Also support flexbox fallback
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    
    > * {
        padding-left: 20px;
    }
    
    &.flush > * {
        padding-left: 0;
    }
}

// Grid column classes
@for $i from 1 through 12 {
    .col-#{$i} {
        grid-column: span #{$i};
    }
}

.wrapper {
    &.style1 {
        background: #fff no-repeat;
    }
    
    &.style2 {
        background: #ececec no-repeat;
        padding: 6em 0;
        text-align: center;
    }
    
    &.style3 {
        padding: 2em 0 3.5em 0;
        background: #ececec no-repeat;
        
        span {
            display: inline-block;
            padding-top: 0.80em;
            font-size: 2em;
            font-weight: 600;
        }
        
        .button {
            float: right;
        }
    }
}
