// ===================================================================
// HEADER
// ===================================================================

@use '../abstracts' as *;

#header {
    background: #333333 url("../images/Donosti.webp") no-repeat;
    background-size: cover;
    color: #fff;
    padding: 6em 0;
    text-align: center;
    background-position: 0% 65%;
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(16, 32, 48, 0.25);
    }
    
    > * {
        position: relative;
        z-index: 1;
    }
}

.homepage #header {
    padding: 8em 0;
    background-position: center;
}

#logo {
    font-size: 2em;
}

#banner {
    text-align: center;
    padding: 4em 0 0 0;
    
    .major {
        h2 {
            font-size: 3.5em;
        }
        
        .byline {
            display: block;
            margin: 0em 2em;
            line-height: 1.6em;
            font-size: 1.5em;
        }
    }
    
    a {
        color: inherit;
    }
}
