// ===================================================================
// NAVIGATION
// ===================================================================

@use '../abstracts' as *;

#nav {
    > ul {
        margin: 0;
        
        > li {
            border-radius: 10px 10px 0 0;
            display: inline-block;
            margin-left: 0.5em;
            padding: 0.5em 1.5em;
            
            a {
                color: #FFF;
                text-decoration: none;
                font-size: 1.2em;
            }
            
            &:first-child {
                margin-left: 0;
            }
            
            &:hover a {
                color: #fff;
            }
            
            &.active {
                background: $color-primary;
                
                a {
                    color: white;
                }
            }
            
            > ul {
                display: none;
            }
        }
    }
}

.dropotron {
    margin-top: -2px;
    background: $color-primary no-repeat;
    border-radius: 10px;
    color: white;
    min-width: 12em;
    padding: 1em 0;
    
    > li {
        line-height: 2em;
        padding: 0 1em;
        
        > a {
            color: #FFF;
            text-decoration: none;
        }
        
        &.active > a, &:hover > a {
            color: #FFF;
        }
    }
    
    &.level-0 {
        border-radius: 0 10px 10px 10px;
        font-size: 1em;
    }
}
