// ===================================================================
// BUTTONS
// ===================================================================

@use '../abstracts' as *;

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    @include appearance-none;
    @include button-style($color-primary, white, #32b777);
    border-radius: 40px;
    padding: 0.80em 2em;
    font-size: 1.4em;
    font-weight: 600;
    min-width: 10em;
    
    &.fit {
        width: 100%;
    }
    
    &.small {
        font-size: 0.8em;
    }
    
    &.primary {
        @include button-style($color-secondary, white, $color-secondary-hover);
        border-radius: $border-radius-sm;
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        min-width: auto;
    }
}

.learn-more {
    @include button-style(transparent, $color-link);
    margin-top: 1rem;
    font-weight: bold;
    background: none;
    
    &:hover {
        background: none;
        text-decoration: underline;
    }
}
