// Image components (replaces repetitive inline styles)

// Member profile images (fixes all member pages)
.member-image {
  width: $member-image-width;
  min-width: $member-image-min;
  height: auto;
}

// Featured images (aromaticity.html style)
.featured-image {
  width: $featured-image-width;
  min-width: $featured-image-min;
  height: auto;
}

// News images (object-fit fixes)
.news-image {
  object-fit: cover;
  
  &.blog-size {
    height: 30vw;
    max-width: 700px;
  }
  
  &.post-size {
    height: 50vw;
  }
}

// Map iframe (footer fix)
.map-iframe {
  border: 0;
  width: 100%;
  height: 200px;
}
