// Layout utilities (common patterns from your inline styles)
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  text-justify: inter-ideograph;
}

.center-content {
  text-align: center;
}
