// ============================================
// LISTS
// List styles and variants
// ============================================

// Reset default list styles
ul {
  margin: 0;
  padding: 0;
}

// Ordered list default
ol.default {
  list-style: decimal;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

// Unordered list default
ul.default {
  list-style: none;

  li {
    display: block;
    padding: 0.60em 0;
    border-top: 1px solid $color-border;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}

// Icon list
ul.icons {
  cursor: default;

  li {
    display: inline-block;
    line-height: 1em;
    padding-left: $spacing-sm;

    &:first-child {
      padding-left: 0;
    }
  }
}

// Action list (buttons)
ul.actions {
  cursor: default;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    padding: 0 0 0 $spacing-lg;

    &:first-child {
      padding: 0;
    }
  }

  &.vertical li {
    display: block;
    padding: $spacing-lg 0 0 0;

    &:first-child {
      padding: 0;
    }
  }
}

// Contact list
ul.contact {
  li {
    padding: 1.05em 0;
    border-top: 1px solid $color-border;

    > span {
      display: inline-block;
    }

    .address,
    .mail,
    .phone {
      float: left;
      width: 100px;
      font-weight: $font-weight-semibold;
    }
  }

  > :first-child {
    padding-top: 0;
    border-top: none;
  }
}

// Style list (with icons)
ul.style {
  li {
    clear: both;
    display: block;
    padding-top: $spacing-2xl;

    &:first-child {
      padding-top: 0;
    }
  }

  h3 {
    display: block;
    margin: 0;
    padding-bottom: 0.50em;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: #404040;
  }

  .fa {
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 1em;
    background: $color-primary;
    line-height: 80px;
    text-align: center;
    border-radius: $border-radius-xl;
    font-size: $font-size-3xl;
    color: $color-white;
  }
}

// Generic list
ul.list {
  list-style: none;

  li {
    display: block;
    padding: 0.60em 0;
    border-top: 1px solid red;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}
