<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quantum Chemistry Development Group at DIPC, San Sebastian">
    <meta name="keywords" content="quantum chemistry, computational chemistry, DFT, DMFT, electron correlation">

    <!-- Content Security Policy -->
<meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://platform.twitter.com https://syndication.twitter.com https://cdn.syndication.twimg.com https://maps.googleapis.com https://cdnjs.cloudflare.com https://www.athabasca.dev 'unsafe-inline' 'unsafe-eval'; frame-src 'self' https://platform.twitter.com https://syndication.twitter.com https://www.google.com; img-src 'self' https://*.twimg.com https://maps.googleapis.com https://maps.gstatic.com https://cdnjs.cloudflare.com data:; style-src 'self' 'unsafe-inline' https://platform.twitter.com https://fonts.googleapis.com https://cdnjs.cloudflare.com http://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com data:; connect-src 'self' https://*.twitter.com https://maps.googleapis.com https://www.athabasca.dev; object-src 'none'">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/skel.css">-->
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
    <!-- Quick fixes CSS file - add modern styles without modifying core CSS -->
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/quick-fixes.css">
    <!-- <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/test.css"> -->
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
    <!-- <script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script> -->
    <!-- <script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script> -->
    <!-- <script src="{{ site.url }}{{ site.baseurl }}/assets/js/init.js"></script> -->
    <noscript>
        <!-- <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}assets/css/skel.css"> -->
        <!-- <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}assets/css/style.css"> -->
    </noscript>
</head>

<body>
    {{ content }}
</body>

</html>