---
layout: default
---

<!-- Header -->
<header id="header">
    <div class="container">
        <!-- Logo (commented out, can be uncommented and adjusted if needed) -->
        <!-- <h1><a href="#" id="logo">{{ page.title }}</a></h1> -->

        <!-- Group title -->
        <div class="group-title">
            <h1>Quantum Chemistry Development Group</h1>
        </div>

        <!-- Navigation -->
        {% include nav.html %}
    </div>
</header>

<!-- Content from the page -->
{{ content }}

<!-- Footer -->
{% include footer.html %}