---
layout: default
---

<!-- Header -->
<header id="header">
    <div class="container">
        <!-- Logo (comentado, si es necesario, descomentar y ajustar) -->
        <!-- <h1><a href="#" id="logo">{{ page.title }}</a></h1> -->

        <!-- Navigation -->
        {% include nav.html %}

        <!-- Banner -->
        <div id="banner">
            <div class="container">
                <section>
                    <header class="major">
                        <h1>Quantum Chemistry Development Group</h1>
                        <!-- Descripción opcional, comentada -->
                        <!-- <p class="byline">DIPC</p> -->
                    </header>
                </section>
            </div>
        </div>
    </div>
</header>

<!-- Featured News Section -->
<section class="wrapper style2">
    <div class="container">
        <header class="major">
            <h2>Recent News</h2>
        </header>
        <div class="row no-collapse-1">
            <!-- Featured Post 1 -->
            <article class="4u">
                {% for post in site.posts offset: 0 limit: 1 %}
                <img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="{{ post.title }}" style="height: 30vw;">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <p><strong>{{ post.title }}</strong></p>
                </a>
                {% endfor %}
            </article>

            <!-- Featured Post 2 -->
            <article class="4u">
                {% for post in site.posts offset: 1 limit: 1 %}
                <img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="{{ post.title }}" style="height: 30vw;">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <p><strong>{{ post.title }}</strong></p>
                </a>
                {% endfor %}
            </article>

            <!-- Twitter Feed -->
            <aside class="4u">
                <a class="twitter-timeline" data-height="500" data-chrome="nofooter" href="https://twitter.com/DonostiaChemDev?ref_src=twsrc%5Etfw">Tweets by DonostiaChemDev</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </aside>
        </div>

        <a href="{{ site.baseurl }}/blog" class="button alt">See more News &#10171;</a>
    </div>
</section>

{{ content }}
