---
layout: default
---
<!-- Header -->
<header id="header">
    <div class="container">
        <div class="section-header-container">
            <h1 class="section-title"><a href="{{ '/' | relative_url }}">{{ page.title }}</a></h1>
            <div class="header-logo">
                <a href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/images/qcdg_logo_nobg.png' | relative_url }}" alt="QCDG Logo">
                </a>
            </div>
        </div>

        {% include nav.html %}
    </div>
</header>

{{ content }}

{% include footer.html %}