---
layout: main_member
title: "{{ page.name_surname }}"
---


<main id="main" class="wrapper style1">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
                <section>
                    <header class="major">
                        <h1>{{ page.name_surname }}</h1>
                    </header>
<div class="member-profile">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/member_photos/{{ page.photo }}" alt="{{ page.name_surname }}" loading="lazy">
  <p><strong>Position:</strong> {{ page.position }}</p>
  {% if page.email %}
  <p><strong>Email:</strong> <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
  {% endif %}
  {% if page.personal_web %}
    <p><strong>Website:</strong> <a href="{{ page.personal_web }}">{{ page.personal_web }}</a></p>
  {% endif %}
  {% if page.experience %}
    <h2>Experience</h2>
    <ul>
      {% for exp in page.experience %}
        <li>{{ exp }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if page.education %}
    <h2>Education</h2>
    <ul>
      {% for edu in page.education %}
        <li>{{ edu }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if page.research_topics %}
    <h2>Research Topics</h2>
    <ul>
      {% for topic in page.research_topics %}
        <li>{{ topic }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if page.visit_period %}
    <h2>Visit Period</h2>
    <p>{{ page.visit_period }}</p>
  {% endif %}
</div>
</section>
</div>
</div>
</div>
</main>