// ===================================================================
// MAIN CONTENT
// ===================================================================

@use '../abstracts' as *;

.no-sidebar #main .major,
.left-sidebar #main .major,
.right-sidebar #main .major {
    text-align: left;
    background: no-repeat;
}

.homepage #main .major {
    text-align: center;
    background: no-repeat;
}

#main {
    padding: 6em 0;
    
    .sidebar {
        .major {
            padding-bottom: 2em;
            background: no-repeat;
            
            h2 {
                font-size: 1.5em;
                background: no-repeat;
            }
        }
        
        .default {
            li {
                border-color: #cdcdcd;
                background: no-repeat;
            }
            
            a {
                color: #464646;
                background: no-repeat;
            }
        }
        
        > :first-child {
            margin-bottom: 1em;
        }
    }
}
