// ============================================
// WRAPPER
// Section wrapper styles
// ============================================

@use '../abstracts' as *;

.wrapper {
  &.style1 {
    background: $color-white no-repeat;
  }

  &.style2 {
    background: $color-gray-pale no-repeat;
    padding: $spacing-4xl 0;
    text-align: center;

    @include breakpoint-down(sm) {
      padding: $spacing-2xl 0;
    }
  }

  &.style3 {
    padding: $spacing-xl 0 3.5em 0;
    background: $color-gray-pale no-repeat;

    span {
      display: inline-block;
      padding-top: 0.80em;
      font-size: $font-size-3xl;
      font-weight: $font-weight-semibold;
    }

    .button {
      float: right;
    }
  }
}
