// ===================================================================
// TYPOGRAPHY
// ===================================================================

@use '../abstracts' as *;

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 1em;
    
    a {
        color: inherit;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

header {
    &.major {
        padding-bottom: 4em;
        
        h2 {
            margin: 0;
            padding: 0;
            font-size: 3em;
            font-weight: 600;
        }
        
        .byline {
            font-size: 1.6em;
        }
    }
}

footer {
    > :last-child {
        margin-bottom: 0;
    }
    
    &.major {
        padding-top: 3em;
    }
}
