name: Jekyll site build

on:
  push:
    branches: [dev, main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: false

      - name: Update RubyGems
        run: gem update --system
       

      - name: Install dependencies
        run: bundle install

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: pip install pyyaml

      - name: Generate member pages
        run: python generate_members.py

      - name: Build site
        run: bundle exec jekyll build
